body {
    background-color: #f8f9fa; /* Gris très clair pour le fond global de la page */
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Police d'écriture moderne */
    display: flex; /* Active le mode "Flexbox" (mise en page flexible) */
    flex-direction: column; /* Aligne les éléments (Titre, Carte, Texte) verticalement */
    align-items: center; /* Centre tout horizontalement au milieu de l'écran */
    margin: 0; /* Enlève les marges blanches par défaut du navigateur */
    padding: 20px; /* Ajoute un peu d'espace tout autour de la page */
}

#map svg {
    background-color: #021e33; /* Bleu clair -> C'est la couleur de l'OCÉAN ! */
    border-radius: 12px; /* Arrondit les coins de la carte */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Ajoute une ombre portée pour l'effet 3D */
    margin-top: 20px; /* Espace entre le titre et la carte */
}